body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: #f8f8f8;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
  }
  
  header {
    background-color: #19301B;
    color: white;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .sidebar {
    background-color: #19301B;
    color: white;
    padding: 20px;
    width: 200px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .sidebar ul li a:hover {
    color: #ccc;
  }
  
  main {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #19301B;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
    }

    .add-menu-form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    
    .add-menu-form label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    .add-menu-form input,
    .add-menu-form select {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
    }
    
    .add-menu-form button {
      width: 100%;
      padding: 12px;
      background-color: #19301B;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    .add-menu-form button:hover {
      background-color: #145E32;
    }

    .input-field {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 18px;
  }
  
  .submit-button {
      width: 100%;
      background-color: #19301B;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
  }
  
  .submit-button:hover {
      background-color: #555;
  }
}
  